{
    "plugins": [
        "meteor"
    ],
    "parser": "babel-eslint",
    "env": {
        "meteor": true
    },
    "globals": {
        "FlowRouter": true,
        "Migrations": true
    },
    "settings": {
        "import/resolver": "meteor"
    },
    "rules": {
        "strict": 0,
        "no-underscore-dangle": 0,
        "indent": [
            2,
            4,
            {
                "SwitchCase": 1
            }
        ],
        "comma-dangle": [
            0
        ],
        "max-len": [
            2,
            150,
            4
        ]
    }
}
