@import '../../../../styles/fontSettings';
@import '../../../layout/styles/themes';

.gameBoard {
    margin: 5em auto;
    width: 45em;
    text-align: center;
}

.singleAnswerLine {
    display: block;
}

.gameBoardFont {
    display: block;
    @include themedRule('color', 'formPrimary');
    @extend .fontRoboto34Regular;
}

.pointsMessage {
    margin-top: 1em;
    display: block;
    @include themedRule('color', 'formPrimary');
    @extend .fontRoboto30Regular;
}

.winProgressLeft {
    position: absolute;
    transform: translate(-50%, 15%);
    height: 40%;
    margin: -3.5em auto;
}

.winProgressRight {
    position: absolute;
    height: 40%;
    margin: -3.5em 0 0 41em ;
    transform: translate(50%, 15%);
}

.pointDifference {
    display: block;
    margin-top: 0.5em;
    @include themedRule('color', 'success');
    @extend .fontRoboto20Light;
}
