@import '../../../../styles/fontSettings';
@import '../../../layout/styles/themes';

.gameBoard {
    margin: 5em auto;
    width: 80%;
    max-width: 1020px;
    text-align: center;
}

.singleAnswerLine {
    display: block;
}

.gameBoardFont {
    display: block;
    @include themedRule('color', 'formPrimary');
    @extend .fontRoboto34Regular;
}

.pointsMessage {
    margin-top: 2em;
    display: block;
    @include themedRule('color', 'formPrimary');
    @extend .fontRoboto30Regular;
}

.warning {
    margin-top: 3em;
    display: block;
    color: red;
    @extend .fontRoboto16Light;
}
