.fontRoboto38Light{
  font-size: 2.38em !important;
  font-weight: 300 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto38Regular{
  font-size: 2.38em !important;
  font-weight: 400 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto38Medium{
  font-size: 2.38em !important;
  font-weight: 500 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto38SemiBold{
  font-size: 2.38em !important;
  font-weight: 600 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto38Bold{
  font-size: 2.38em !important;
  font-weight: 700 !important;
  font-family: 'Roboto' !important;
}


.fontRoboto40Light{
  font-size: 2.5em !important;
  font-weight: 300 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto40Regular{
  font-size: 2.5em !important;
  font-weight: 400 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto40Medium{
  font-size: 2.5em !important;
  font-weight: 500 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto40SemiBold{
  font-size: 2.5em !important;
  font-weight: 600 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto40Bold{
  font-size: 2.5em !important;
  font-weight: 700 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto50Light{
  font-size: 3.12em !important;
  font-weight: 300 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto50Regular{
  font-size: 3.12em !important;
  font-weight: 400 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto50Medium{
  font-size: 3.12em !important;
  font-weight: 500 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto50SemiBold{
  font-size: 3.12em !important;
  font-weight: 600 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto50Bold{
  font-size: 3.12em !important;
  font-weight: 700 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto55Light{
  font-size: 3.4em !important;
  font-weight: 300 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto55Regular{
  font-size: 3.4em !important;
  font-weight: 400 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto55Medium{
  font-size: 3.4em !important;
  font-weight: 500 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto55SemiBold{
  font-size: 3.4em !important;
  font-weight: 600 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto55Bold{
  font-size: 3.4em !important;
  font-weight: 700 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto60Light{
  font-size: 3.75em !important;
  font-weight: 300 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto60Regular{
  font-size: 3.75em !important;
  font-weight: 400 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto60Medium{
  font-size: 3.75em !important;
  font-weight: 500 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto60SemiBold{
  font-size: 3.75em !important;
  font-weight: 600 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto60Bold{
  font-size: 3.75em !important;
  font-weight: 700 !important;
  font-family: 'Roboto' !important;
}
