.fontRoboto14Light{
    font-size: 0.80em !important;
    font-weight: 300 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto14Regular{
    font-size: 0.80em !important;
    font-weight: 400 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto14Medium{
    font-size: 0.80em !important;
    font-weight: 500 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto16Light{
    font-size: 0.95em !important;
    font-weight: 300 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto16Regular{
    font-size: 0.95em !important;
    font-weight: 400 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto16Medium{
    font-size: 0.95em !important;
    font-weight: 500 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto18Light{
    font-size: 1.10em !important;
    font-weight: 300 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto18Regular{
    font-size: 1.10em !important;
    font-weight: 400 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto18Medium{
    font-size: 1.10em !important;
    font-weight: 500 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto20Light{
    font-size: 1.25em !important;
    font-weight: 300 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto20Regular{
    font-size: 1.25em !important;
    font-weight: 400 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto20Medium{
    font-size: 1.25em !important;
    font-weight: 500 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto20SemiBold{
    font-size: 1.25em !important;
    font-weight: 600 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto20Bold{
    font-size: 1.25em !important;
    font-weight: 700 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto26Light{
    font-size: 1.60em !important;
    font-weight: 300 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto28Light{
    font-size: 1.75em !important;
    font-weight: 300 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto28Regular{
    font-size: 1.75em !important;
    font-weight: 400 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto28Medium{
    font-size: 1.75em !important;
    font-weight: 500 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto28SemiBold{
    font-size: 1.75em !important;
    font-weight: 600 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto28Bold{
    font-size: 1.75em !important;
    font-weight: 700 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto30Light{
    font-size: 1.88em !important;
    font-weight: 300 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto30Regular{
    font-size: 1.88em !important;
    font-weight: 400 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto30Medium{
    font-size: 1.88em !important;
    font-weight: 500 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto30SemiBold{
    font-size: 1.88em !important;
    font-weight: 600 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto30Bold{
    font-size: 1.88em !important;
    font-weight: 700 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto32Light{
    font-size: 2em !important;
    font-weight: 300 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto32Regular{
    font-size: 2em !important;
    font-weight: 400 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto32Medium{
    font-size: 2em !important;
    font-weight: 500 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto32SemiBold{
    font-size: 2em !important;
    font-weight: 600 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto32Bold{
    font-size: 2em !important;
    font-weight: 700 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto34Light{
    font-size: 2.14em !important;
    font-weight: 300 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto34Regular{
    font-size: 2.14em !important;
    font-weight: 400 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto34Medium{
    font-size: 2.14em !important;
    font-weight: 500 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto34SemiBold{
    font-size: 2.14em !important;
    font-weight: 600 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto34Bold{
    font-size: 2.14em !important;
    font-weight: 700 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto36Light{
    font-size: 2.26em !important;
    font-weight: 300 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto36Regular{
    font-size: 2.26em !important;
    font-weight: 400 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto36Medium{
    font-size: 2.26em !important;
    font-weight: 500 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto36SemiBold{
    font-size: 2.26em !important;
    font-weight: 600 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto36Bold{
    font-size: 2.26em !important;
    font-weight: 700 !important;
    font-family: 'Roboto' !important;
}

.fontRoboto38Light{
  font-size: 2.38em !important;
  font-weight: 300 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto38Regular{
  font-size: 2.38em !important;
  font-weight: 400 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto38Medium{
  font-size: 2.38em !important;
  font-weight: 500 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto38SemiBold{
  font-size: 2.38em !important;
  font-weight: 600 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto38Bold{
  font-size: 2.38em !important;
  font-weight: 700 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto40Light{
  font-size: 2.5em !important;
  font-weight: 300 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto40Regular{
  font-size: 2.5em !important;
  font-weight: 400 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto40Medium{
  font-size: 2.5em !important;
  font-weight: 500 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto40SemiBold{
  font-size: 2.5em !important;
  font-weight: 600 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto40Bold{
  font-size: 2.5em !important;
  font-weight: 700 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto50Light{
  font-size: 3.12em !important;
  font-weight: 300 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto50Regular{
  font-size: 3.12em !important;
  font-weight: 400 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto50Medium{
  font-size: 3.12em !important;
  font-weight: 500 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto50SemiBold{
  font-size: 3.12em !important;
  font-weight: 600 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto50Bold{
  font-size: 3.12em !important;
  font-weight: 700 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto55Light{
  font-size: 3.4em !important;
  font-weight: 300 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto55Regular{
  font-size: 3.4em !important;
  font-weight: 400 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto55Medium{
  font-size: 3.4em !important;
  font-weight: 500 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto55SemiBold{
  font-size: 3.4em !important;
  font-weight: 600 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto55Bold{
  font-size: 3.4em !important;
  font-weight: 700 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto60Light{
  font-size: 3.75em !important;
  font-weight: 300 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto60Regular{
  font-size: 3.75em !important;
  font-weight: 400 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto60Medium{
  font-size: 3.75em !important;
  font-weight: 500 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto60SemiBold{
  font-size: 3.75em !important;
  font-weight: 600 !important;
  font-family: 'Roboto' !important;
}

.fontRoboto60Bold{
  font-size: 3.75em !important;
  font-weight: 700 !important;
  font-family: 'Roboto' !important;
}
