.wrapperContainer {
    background-color: #FFFFFF !important;
    overflow: hidden;
    position: relative;
}
.content {
    margin-top: 37.6vw;
    height: 45.1%;
    position: relative;
    z-index: 1;
    overflow: auto;
}
