.backButton {
    position: absolute;
    top: 45%;
    left: 0;
    text-align: center;
    margin-left: 2em;
}

.backButtonIcon {
    cursor: pointer;
    color: white;

    &:hover {
        opacity: 0.85;
    }
}
