@import '../../../../styles/fontSettings';
@import '../../../layout/styles/themes';

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6em;

    @include themedRule('background-color', 'primaryDark');

    .description {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(0%,-50%);

        @include themedRule('color', 'formPrimary');
    }

    .copyright {
        position: absolute;
        top: 50%;
        right: 15%;
        transform: translate(0%,-50%);

        @include themedRule('color', 'formPrimary');
    }

    .languageContainer {
        position: absolute;
        top: 50%;
        right: 2%;
        transform: translate(0%,-50%);
    }

    .languageFlag {
        height: 1em;
        padding: 0.5em;
        cursor: pointer;
    }
}
