.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6em;
    background-color: #112030;
}

.copyright {
    color: white;
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translate(0%,-50%);
}
