@import '../../../../styles/fontSettings';
@import '../../../layout/styles/themes';

.userName {
    position: absolute;
    top: 50%;
    right: calc(15% + 22em);
    transform: translate(0%,-50%);

    .userNameLabel {
        padding-left: 0.5em;
    }
}

