@import '../../../../styles/fontSettings';
@import '../../../layout/styles/themes';

.userName {
    position: absolute;
    top: 50%;
    float: right;
    right: 0;
    transform: translate(0%,-50%);

    .userNameLabel {
        padding-left: 0.5em;
    }
}

